.App {
  text-align: center;
 
}

.Form {
 height: 30px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.Google-button{
  background-color: rgb(244, 67, 54);
  text-transform: none !important;
  border-radius: 10px;
  padding-right:50px;
  padding-left:50px;
}

.brand-navbar{
  background-color:rgb(108, 194, 74);
  font-family: 'Pattaya', sans-serif;
  /* font-size: 200px; */
}

.Facebook-button{
  background-color: rgb(66, 103, 178);
  text-transform: none !important;
  border-radius: 10px;
  padding-right:40px;
  padding-left:40px;

}
.inicio-button{
  background-color:rgb(108, 194, 74);
  text-transform: none !important;
  border-radius: 10px;
  padding-right:87px;
  padding-left: 87px;
  margin-bottom:20px;
}
.registro-button{
  background-color:rgb(108, 194, 74);
  text-transform: none !important;
  border-radius: 10px;
  padding-right:108px;
  padding-left:108px;
}


.button-cerrar{
  font-size: 15px;
  text-transform: none !important;
  position: absolute;
  top: 9.5px;
  right: 0;
  box-shadow: none !important;
}

.card-container{
  width: 50%
}

.register-instruction{
color:black;
text-align: center;
font-size: 15px;
}

.button-pubish, .edit-message-btn, .delete-message-btn, .button-cerrar, .publicar-algo-button{
  text-transform: none !important;
  background-color:rgb(108, 194, 74);
  border-radius: 10px;
  box-shadow: none !important;

}

.user-name{
  margin-bottom:0%;
  margin-top:0%;
}
.user-email{
  margin-top:0%;
  font-size:80%;
}

.button-pubish{
  float: left;
}

.post-container{
  margin-top:10%;
 margin-bottom: 15%;
 margin-right: 15%;
 margin-left: 15%;

}

.post-content{
  text-align: left
}

.img-user{
  margin-top:5%;
  margin-left:-120px;
}

.user-name-post{
float: left;
font-weight: bolder
} 

.card-footer{
margin-top:10%;
background-color:blue 
}

.post-message{
margin-left: 40%;
margin-top:40px;
/* font-family: 'Montserrat Alternates', sans-serif; */
padding-right: 10%;
text-align: left;
}

.profile-container{
  /* background-color: rgb(250, 251, 252); */
  padding-top:30px; 
}

.edit-message-btn, .delete-message-btn{
  margin:2%;
}

.container{
  background-color: rgb(250, 251, 252); 
}