.App {
  text-align: center;
 
}

.Form {
 height: 30px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.Google-button{
  background-color: rgb(244, 67, 54);
}

.brand-navbar{
  background-color:rgb(139, 195, 74);
  font-family: 'Julius Sans One', sans-serif;
}

.Facebook-button{
  background-color: rgb(33, 150, 243);
}
.inicio-button{
  background-color:rgb(139, 195, 74);
}
