.App {
  text-align: center;
 
}

.Form {
 height: 30px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.Google-button{
  background-color: rgb(244, 67, 54);
  text-transform: none !important;
  border-radius: 10px;
  padding-right:50px;
  padding-left:50px;
}

.brand-navbar{
  background-color:rgb(108, 194, 74);
  font-family: 'Julius Sans One', sans-serif;
}

.Facebook-button{
  background-color: rgb(33, 150, 243);
  text-transform: none !important;
  border-radius: 10px;
  padding-right:40px;
  padding-left:40px;

}
.inicio-button{
  background-color:rgb(108, 194, 74);
  text-transform: none !important;
  border-radius: 10px;
  padding-right:40px;
  padding-left: 40px;
}
.registro-button{
  background-color:rgb(108, 194, 74);
  text-transform: none !important;
  border-radius: 10px;
  padding-right:60px;
  padding-left:60px;
}


.button-cerrar{
  font-size: 15px;
  text-transform: none !important;

}

.card-container{
  width: 100%
}